## Contents 

01. Importing libraries
02. Data Types
03. Concatenating strings

## 01.Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 02.Data types

In [2]:
# 3 different ways to get 100

x=10 
y=2

x**y

100

In [3]:
x = 50
y = 2

x*y

100

In [4]:
x = 150
y = 50

x-y

100

In [5]:
# Dividing 2 floating numbers 

x = 7.56
y = 4.7

x/y

1.6085106382978722

## 03. Concatenating strings

In [6]:
# Concatenating strings 

'Man' + 'hat' + 'tan'

'Manhattan'

In [7]:
'Python ' + 'is' + ' cool.' +' I ' + 'am ' + 'learning ' + 'to ' + 'code.'

'Python is cool. I am learning to code.'

In [8]:
x=2
y=5

x==y

False

In [9]:
type('hello')

str

In [10]:
type(True)

bool

In [11]:
x= 'Hello'
y= 100

x*y

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHello'